//
//  {{ prefix }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

class {{ module_info.name }}Interactor: NSObject, {{ module_info.name }}InteractorInput {
    
    //MARK: - Properties
    weak var presenter: {{ module_info.name }}InteractorOutput!
    
    //MARK: - Interactor In
 
}
