//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}VC: UIViewController, {{ module_info.name }}ViewInput {

    // MARK: Properties
    var presenter: {{ module_info.name }}ViewOutput!
    
    //MARK: - UIProperties
    
    //MARK: - Life cycle
    override init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: Bundle?) {
        super.init(nibName: nibNameOrNil ?? "{{ module_info.name }}VC", bundle: nibBundleOrNil)
    }
    
    required init?(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)
    }
    
    override func viewDidLoad() {
        super.viewDidLoad()
        setupUI()
        presenter.viewIsReady()
    }
    
    override func viewWillAppear(_ animated: Bool) {
        presenter.viewWillAppear()
        super.viewWillAppear(animated)
    }
    
    override func viewWillDisappear(_ animated: Bool) {
        presenter.viewWillDissapear()
        super.viewWillDisappear(animated)
    }
    
    //MARK: - View In

    
    //MARK: - Actions

    
    //MARK: - Private functions
    fileprivate func setupUI() {

    }
}
