// {% assign nameFirstLetter = module_info.name | slice: 0 %} {% assign downcaseLetter = nameFirstLetter | downcase %} {% assign downcaseModuleName = module_info.name | replace_first: nameFirstLetter, downcaseLetter %}
//  {{ prefix }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//
import Dip

typealias {{ module_info.name }}Module = (input: {{ module_info.name }}ModuleInput, view: UIViewController)

class {{ module_info.name }}Container: BaseContainer {
    
    init(nc: UINavigationController?) {
        super.init()
        container.register(.singleton) { {{ module_info.name }}Presenter() }
            .implements({{ module_info.name }}ViewOutput.self)
            .implements({{ module_info.name }}InteractorOutput.self)
            .implements({{ module_info.name }}ModuleInput.self)
            .implements({{ module_info.name }}RouterOutput.self)
            .resolvingProperties { [weak self] _, presenter in
                presenter.view = try self!.resolve()
                presenter.interactor = try self!.resolve()
                presenter.router = try self!.resolve()              
            }
        
        container.register(.singleton) { {{ module_info.name }}Interactor() }
            .implements({{ module_info.name }}InteractorInput.self)
            .resolvingProperties { [weak self] _, interactor in
                interactor.presenter = try self!.resolve()
            }
        
        container.register(.singleton) { {{ module_info.name }}VC() }
            .implements({{ module_info.name }}ViewInput.self)
            .resolvingProperties { [weak self] _, view in
                view.presenter = try self!.resolve()
            }
        
        container.register(.singleton) { {{ module_info.name }}Router() }
            .implements({{ module_info.name }}RouterInput.self)
            .resolvingProperties { [weak self] _, router in
                router.presenter = try self!.resolve()
                router.nc = nc
            }
    }

    func getModule() -> {{ module_info.name }}Module {
        let input: {{ module_info.name }}ModuleInput = try! self.resolve()
        let view: {{ module_info.name }}VC = try! self.resolve()
        return (input, view as UIViewController)
    }
}
