//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

class {{ module_info.name }}Presenter: NSObject, {{ module_info.name }}ViewOutput, {{ module_info.name }}InteractorOutput {
    
    //MARK: - Injected properties
    weak var view: {{ module_info.name }}ViewInput!
    var interactor: {{ module_info.name }}InteractorInput!
    var router: {{ module_info.name }}RouterInput!

    //MARK: - Properties

    //MARK: - Interactor Out
    
    
    //MARK: - View Out
    func viewIsReady() {

    }
    
    func viewWillAppear() {
        
    }
}

//MARK: - Module input
extension {{ module_info.name }}Presenter: {{ module_info.name }}ModuleInput {
	
}


//MARK: - Router output
extension {{ module_info.name }}Presenter: {{ module_info.name }}RouterOutput {}
